.item-detail {
    padding: 30px;
    background-color: #F0F0F0; 
    border-radius: 10px;
    max-width: 600px;
    margin: 0 auto;
    color: #96A78D; 
    font-family: "Libre Caslon Text", serif;
}

.item-detail h2 {
    font-family: "Cormorant Upright", serif;
    font-weight: 600;
    font-size: 2em;
    color: #B6CEB4;
    margin-bottom: 15px;
}

.item-detail p {
    font-size: 1em;
    margin: 5px 0;
}

.item-detail .item-count-wrapper {
    margin-top: 20px;
}

