@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Princess+Sofia&family=Story+Script&display=swap');

.container-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #96A78D;
  font-family: "Playfair Display", serif;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box; 
}

.titulo-nav {
    font-size: 2em;
    color: #D9E9CF;
    margin-right: 20vw;
    margin-left: 4vw;
}

.container-panel{
    display: flex;
}

.panel-nav {
    margin: 3vw;
    text-decoration: none;
    color: #D9E9CF;
}
