@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Princess+Sofia&family=Story+Script&display=swap');

footer {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  background-color: #96A78D;
  font-family: "Playfair Display", serif;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box; 
  margin-top: auto; 
}

footer .foo {
  margin: 0;
  color: #D9E9CF;
  font-size: 18px;
}

footer p {
  margin: 5px 0 0 0;
  color: #D9E9CF;
  font-size: 12px;
}

